/* table, td {  
    border: 1px solid #ddd;
} */

table {
    margin: 2% auto;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
}

td {
    height: 150px;
    width: 33%;
}

td:hover {
    background-color: #eee;
}